@charset "UTF-8";
.list{
	background-image: url(https://th.bing.com/th/id/R.d9c465c7e49b5156a779e950f98b4432?rik=ZBj8xWvuJ6xecQ&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fVqjr2iR.jpg&ehk=BMccQgyriRBO3jLBb8iGGZGTND4Z1vdKx0%2b0%2fynv%2f4E%3d&risl=&pid=ImgRaw&r=0);
background-size: cover;
color:white;
}


.create{
	background-image: url(https://th.bing.com/th/id/R.d9c465c7e49b5156a779e950f98b4432?rik=ZBj8xWvuJ6xecQ&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fVqjr2iR.jpg&ehk=BMccQgyriRBO3jLBb8iGGZGTND4Z1vdKx0%2b0%2fynv%2f4E%3d&risl=&pid=ImgRaw&r=0);
background-size: cover;
color:white;

	}
.view1{
	background-image: url(https://th.bing.com/th/id/R.d9c465c7e49b5156a779e950f98b4432?rik=ZBj8xWvuJ6xecQ&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fVqjr2iR.jpg&ehk=BMccQgyriRBO3jLBb8iGGZGTND4Z1vdKx0%2b0%2fynv%2f4E%3d&risl=&pid=ImgRaw&r=0);
background-size: cover;
color:white;
}
.headview{
	background-image: url(https://th.bing.com/th/id/R.d9c465c7e49b5156a779e950f98b4432?rik=ZBj8xWvuJ6xecQ&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fVqjr2iR.jpg&ehk=BMccQgyriRBO3jLBb8iGGZGTND4Z1vdKx0%2b0%2fynv%2f4E%3d&risl=&pid=ImgRaw&r=0);
background-size: cover;
color:white;
}
.bookinngcreat{
	background-image: url(https://th.bing.com/th/id/R.d9c465c7e49b5156a779e950f98b4432?rik=ZBj8xWvuJ6xecQ&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fVqjr2iR.jpg&ehk=BMccQgyriRBO3jLBb8iGGZGTND4Z1vdKx0%2b0%2fynv%2f4E%3d&risl=&pid=ImgRaw&r=0);
background-size: cover;
color:white;
}
.edit{
	background-image: url(https://th.bing.com/th/id/R.d9c465c7e49b5156a779e950f98b4432?rik=ZBj8xWvuJ6xecQ&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fVqjr2iR.jpg&ehk=BMccQgyriRBO3jLBb8iGGZGTND4Z1vdKx0%2b0%2fynv%2f4E%3d&risl=&pid=ImgRaw&r=0);
background-size: cover;
color:white;
}
.index2{
	background-image: url(https://th.bing.com/th/id/R.d9c465c7e49b5156a779e950f98b4432?rik=ZBj8xWvuJ6xecQ&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fVqjr2iR.jpg&ehk=BMccQgyriRBO3jLBb8iGGZGTND4Z1vdKx0%2b0%2fynv%2f4E%3d&risl=&pid=ImgRaw&r=0);
background-size: cover;
color:white;
}